body,html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
.container{
    background: linear-gradient(135deg, #8a2be2,#4169e1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.content{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.998);
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
}
.logo{
    object-fit: contain;
}
h1{
    color: #333;
    margin-bottom: 0.5rem;
}
p{
    color: #666;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
input[type="email"]{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}
button{
    padding: 0.5rem;
    background-color: #8a2be2;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.9s ease-in-out;
    box-shadow: 0 41px 6px rgba(0,0,0, 0.1);
}
button:hover{
    background-color: #7a1dd1;
}
